.nav-container {
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: hsl(228, 100%, 67%);
	padding: 10px 15px;
	border-radius: 15px 15px 0 0;
}

h1 {
	text-wrap: nowrap;
}

.categorias {
	display: flex;
	padding: 0;
}

.categorias li {
	list-style: none;
	padding: 0 10px;
}
.categorias li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-wrap: nowrap;
}

@media screen and (max-width: 600px) {
	.categorias {
		flex-direction: column;
	}
}
